@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button,
a {
  outline: none;
}

button:focus,
a:focus {
  animation: lowFade 0.6s ease-out alternate 0ms infinite;
  font-weight: 600;
}

.bounce {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 2.4, 1, 1.07);
}

.chevron {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.animated-loading:hover div .chevron-1 {
  opacity: 1;
  animation: fadeIn 0.8s ease-in-out 0ms infinite;
}

.animated-loading:hover div .chevron-2 {
  opacity: 1;
  animation: fadeIn 0.8s ease-in-out 0.9s infinite;
}

.animated-loading:hover div .chevron-3 {
  opacity: 1;
  animation: fadeIn 0.8s ease-in-out 1.8s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lowFade {
  from {
    opacity: 0.3;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
